body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.counter {
  font-size: 5em;
  font-weight: bold;
}

.code-container {
  max-width: 1200px;
}

.range-labels {
  display: flex;
  justify-content: space-between;
}

.range-label {
  font-size: 0.75rem; /* Text size */
  color: #4A5568; /* Tailwind gray-600 color */
}

.range-input {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #4A5568;
  border-radius: 5px;
  outline: none;
  opacity: 0.5;
  transition: opacity .15s ease-in-out;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #4A5568;
  cursor: pointer;
}

.range-input::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #4A5568;
  cursor: pointer;
}

/* Custom styles for floating labels */
.floating-label-group {
  position: relative;
}

.floating-label-input {
  border: 1px solid #ccc;
  padding: 1rem 1rem;
  width: 100%;
  transition: border-color 0.3s;
  background: #f0f0f0;
}

.floating-label-input:focus {
  outline: none;
  border-color: #4F46E5;
}

.floating-label-label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  pointer-events: none;
  transition: all 0.3s;
  color: #6b7280; /* Gray-500 */
}

.floating-label-input:focus + .floating-label-label,
.floating-label-input:not(:placeholder-shown) + .floating-label-label {
  top: 0;
  left: 0.75rem;
  font-size: 0.75rem; /* Text-xs */
  color: #4F46E5; /* Indigo-500 */
}